body {
	background-color: #CCCCCC;
    color: #008080;
}

a {
	color: #008000;
}

a:visited {
	
}

a:active {
	
}

a:hover {
	
}

h1 {
	font-family: 'Times New Roman', Times, serif;
    color: #0000FF;
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}