/*Vorlage AWE Traunstein 2020 TZ*/
body {
	background-color:  #FFFFCC;
    color: #008080;
}

a {
	color: #FF3300;
}

a:visited {
	
}

a:active {
	
}

a:hover {
	
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0000FF;
    font-weight: bold;
    font-size: 32px;
}

h2 {
	font-family: Helvetica, sans-serif;
    color: #800080;
    font-size: 18px;
    font-style: italic;
}

h3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF0080;
    font-style: italic;
    font-size: 16px;

}

h4 {
	
}

h5 {
	
}

h6 {
	
}
